package marketing

import (
	"github.com/tombrereton/go-hot-reload/internal/model"
)

templ LandingPage(user model.User) {
	<div class="bg-green-500">Hello { user.Name }, welcome to the landing page</div>
}
