package marketing

import (
	"github.com/tombrereton/go-hot-reload/view/layout"
	"github.com/tombrereton/go-hot-reload/model"
)

templ LandingPage(user model.User) {
	@layout.Base() {
		<div>Hello { user.Name }, welcome to the landing page</div>
	}
}
