{{ define "landing.html" }}
<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/styles.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
    <h1 id="hello" class="text-3xl font-bold text-blue-500 underline">
        Hello, {{ .Name }}!
    </h1>
    <!-- have a button POST a click via AJAX -->
    <button hx-get="/clicked" hx-swap="outerHTML" class="m-2 p-2 rounded-lg bg-slate-800 text-white">
        Click Me
    </button>
</body>

</html>
{{ end }}