package layout

import "github.com/tombrereton/go-hot-reload/view/components"


templ Base(contents templ.Component) {
	<html>
		<head>
			<title>My Page</title>
		</head>
		<body>
            @components.Header()
			<h2>Layout</h2>
			@contents
            @components.Footer()
		</body>
	</html>
}
